This is a grid based battle game, where you make a world then battle enemies.

How it works:
  Map: There is a voxel based map, like minecraft, where you can layout blocks. These blocks can be various types, such as rock.
  Character: You are a character who can move around the map, and shoot enemies. You can only move up, down, left or right. When you shoot, you only shoot directly forward from your current location. The charater looks like a box.
  Enemies: Enemies can move around the map to try and position themselves so they can shoot you. When you shoot an enemy, they loose one of their lives. They have 3 lives to start. When they have 3 lives, they are green... when they have 2 lives they are yellow, and with 1 life left they are red. They are a circle shape.
